/* Background and Body Styling */
body {
    padding: 20px;
    background: url('../Capstone/img/BG.png') no-repeat center center fixed; /* Background image */
    background-size: cover; /* Cover the entire page */
    opacity: 0.9;
    color: #333; /* Default text color */
    font-family: 'Arial', sans-serif; /* Default font family */
}
.navbar-nav .nav-item {
    margin-right: 15px; /* Adjust the value as needed */
}

.navbar-nav .nav-item .dropdown{
   text-decoration-color: blue; /* Adjust the value as needed */
}


